html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* !!! CSS RESET !!! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#index {
  background-color: black;
  font-family: 'Syncopate'; }
  #index nav a:link,
  #index nav a:visited {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem 1rem 0.7rem 1rem;
    background-color: black;
    position: fixed;
    font-size: 2rem;
    font-weight: bold; }
    @media screen and (max-width: 786px) {
      #index nav a:link,
      #index nav a:visited {
        font-size: 4rem; } }
    @media screen and (max-width: 550px) {
      #index nav a:link,
      #index nav a:visited {
        font-size: 6rem; } }
  #index .plain_link:link,
  #index .plain_link:visited {
    color: white;
    text-decoration: none; }
  #index .plain_link:hover {
    color: lime; }
  #index a:hover,
  #index .plain_link:hover,
  #index #about_link:hover {
    color: lime;
    cursor: pointer; }
  #index #work_link {
    top: 6rem;
    left: 10rem; }
    @media screen and (max-width: 550px) {
      #index #work_link {
        top: 2rem;
        left: 2rem; } }
  #index #about_link {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem 1rem 0.7rem 1rem;
    background-color: black;
    position: fixed;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    box-shadow: 4px 4px 10px white;
    z-index: 1000; }
    @media screen and (max-width: 786px) {
      #index #about_link {
        font-size: 4rem; } }
    @media screen and (max-width: 550px) {
      #index #about_link {
        font-size: 6rem;
        top: 15rem;
        bottom: inherit;
        right: 2rem; } }
  #index img {
    position: fixed; }
  #index #image {
    border-radius: 50%;
    width: 33rem;
    height: 33rem;
    top: 4rem;
    left: 15rem;
    z-index: -100;
    box-shadow: 4px 4px 10px white; }
    @media screen and (max-width: 786px) {
      #index #image {
        width: 40rem;
        height: 40rem; } }
    @media screen and (max-width: 550px) {
      #index #image {
        top: -5rem;
        left: -5rem;
        width: 60rem;
        height: 60rem; } }
  #index #gif {
    z-index: -100;
    width: 10rem;
    height: 5rem;
    right: 10%;
    bottom: 2rem;
    clip-path: polygon(0% 100%, 50% 10%, 100% 100%);
    -webkit-clip-path: polygon(0% 100%, 50% 10%, 100% 100%); }
    @media screen and (max-width: 786px) {
      #index #gif {
        width: 15rem;
        height: 10rem;
        right: 25%;
        bottom: 3rem; } }
    @media screen and (max-width: 550px) {
      #index #gif {
        width: 25rem;
        height: 15rem;
        right: 2rem;
        bottom: 2rem; } }
  #index #about {
    opacity: 0;
    border: 1px solid white;
    background-color: black;
    padding: 1rem;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    color: white;
    transition: opacity ease 0.4s;
    z-index: 100;
    font-size: 1rem;
    line-height: 1.2em; }
    #index #about.show {
      opacity: 1; }
    @media screen and (max-width: 786px) {
      #index #about {
        width: 38rem;
        font-size: 1.8rem; } }
    @media screen and (max-width: 550px) {
      #index #about {
        width: 63rem;
        font-size: 3rem; } }

/*# sourceMappingURL=main.css.map */
